<?php
	$cond = array(
		'recruit.recruit_id' => I('r'),
		'recruit.is_delete' => 'N',
		'recruit.is_show' => 'Y'
	);
	$data['recruit_viewTimes'] = array('exp','recruit_viewTimes+1');
	$addTime = M('recruit')->where($cond)->save($data);
	$career = M('recruit')
		->join('type ON recruit.recruit_type = type.type_id')
		->join('recruit_position ON recruit.position_id = recruit_position.position_id')
		->where($cond)
		->field('position_name,recruit_detial,type_id,type_name,recruit.position_id')
		->find();
?>
<include file="Layout:header" />
<link href="__APPLICATION__/css/career.css" rel="stylesheet" type="text/css"/>
<link href="__APPLICATION__/css/career_detail.css" rel="stylesheet" type="text/css"/>
<div class="main-pic">
	<img src="__APPLICATION__/img/career.png" width="100%" alt="">
</div>

<div class="container" style="position: relative;">
	<div class="search" style="top: -7em;">
		<input type="text" name="search" placeholder="<?php if(cookie('lan') == 'EN') echo 'Please enter keywords here'; else echo '请在此输入关键字'; ?>" class="search-input">
		<a href="javascript:;" search-type="pro" class="search-pro search-submit"><?php if(cookie('lan') == 'EN') echo "pros"; else echo "搜产品"; ?></a>
		<a href="javascript:;" search-type="all" class="search-all search-submit"><?php if(cookie('lan') == 'EN') echo "others"; else echo "搜综合"; ?></a>
	</div>
</div>

<div class="career">
	<div class="container">
		<ol class="breadcrumb">
			<li><a href="{:U('Home/career')}"><?php echo $language['career'] ?></a></li>
			<li><a href="__MODULE__/Home/career?t={$career['type_id']}">{$career['type_name']}</a></li>
			<li class="active">{$career['position_name']}</li>
		</ol>
		<div class="career-detail">
			{$career['recruit_detial']}
		</div>
		<button type="button" onclick="window.open('__URL__/career_apply?r={$career.position_id}')" class="apply"><?php echo $language['recruit_btn_2'] ?></button>
	</div>
</div>
<script type="text/javascript">
	function getCookie(name){
		var arr,reg=new RegExp("(^| )"+name+"=([^;]*)(;|$)");
		if(arr=document.cookie.match(reg))
			return unescape(arr[2]);
		else
			return null;
	}
	if (getCookie('lan') == 'EN') {
			notice_1 = 'Search',
			notice_2 = 'a total of',
			notice_3 = 'results',
			errorRes = 'no results';
			career = 'careers';
			news = 'news';
	} else {
			notice_1 = '搜索',
			notice_2 = '共有',
			notice_3 = '条结果',
			errorRes = '没有结果';
			career = '招聘信息';
			news = '新闻动态';
	}
	$('.search-submit').click(function(){
		var searchC = $('.search-input').val(),
			searchType = $(this).attr('search-type');
		$.ajax({
			type: 'post',
			url: '__URL__/search',
			data:{
				'search_type': searchType,
				'search_content': searchC
			},
			dataType: 'json',
			success: function(result){
				if (result.status == 1) {
					$('.career').empty();
					var sOut = '<div class="container search-res"><ul><li><span>'+notice_1+'“'+searchC+'”'+notice_2+result.data.length+notice_3+'</span></li>';
					for (var i = 0; i < result.data.length; i++) {
						sOut += '<li><a href="__MODULE__/ProductManage/product_manage?product_id='+result.data[i].product_id+'">'+result.data[i].product_name+'</a></li>';
					}
					sOut += '</ul></div>';
					$('.career').html(sOut);
				}else if (result.status == 2) {
					$('.career').empty();
					var sOut = '<div class="container search-res"><ul><li><span>'+notice_1+'“'+searchC+'”'+notice_2+result.data['total']+notice_3+'</span></li>';
					for (var i = 0; i < result.data['career'].length; i++) { // 招聘
						var r = result.data['career'][i].position_id;
						sOut += '<li><a href="__MODULE__/Home/career_detail?r='+result.data['career'][i].position_id+'">'+result.data['career'][i].position_name+' -- '+career+'</a></li>';
					}
					for (var i = 0; i < result.data['new'].length; i++) { // 新闻
						sOut += '<li><a href="__MODULE__/Home/new_detail?r='+result.data['new'][i].message_id+'">'+result.data['new'][i].message_title+' -- '+news+'</a></li>';
					}
					sOut += '</ul></div>';
					$('.career').html(sOut);
				}else{
					$('.career').empty();
					$('.career').html('<div class="container">'+errorRes+'</div>');
				}
			}
		});
	});
</script>
<include file="Layout:footer" />
